@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  .custom-scrollbar {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #212122 transparent;
  }

  /* Chrome, Edge, Safari */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }

  /* Dark mode */
  .dark .custom-scrollbar {
    scrollbar-color: #4b5563 transparent;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }
}
